[submodule "content/nx"]
	path = content/nx
	url = git@github.com:nextbrave/nx.git
[submodule "content/devops/k8s2"]
	path = content/devops/k8s2
	url = git@github.com:darvein/kubernetes-notes.git
[submodule "content/infosec/ctf-notes"]
	path = content/infosec/ctf-notes
	url = git@github.com:darvein/ctf-notes.git
[submodule "content/coding/python"]
	path = content/coding/python
	url = git@github.com:darvein/python-notes.git
