{{ $destination := .Destination }}
{{ $src := .Destination }}

{{ if in .Destination "/static/" }}
    {{ $destination = printf "../%s" .Destination }}
    {{ $src = $destination }}
{{ else }}
    {{ $destination = printf "../../../%s" .Destination }}
    {{ $src = replaceRE "i/" "s/" $destination }}
{{ end }}

<figure class="image-container">
    <a href="{{ $destination }}">
        <img width="{{ with .Text }}{{ . }}%{{ else }}100%{{ end }}" src='{{ $src }}' alt="{{ .Text }}" />
    </a>
    {{ with .Text }}
        <figcaption>&#x2015; {{ . }} &#x2015;</figcaption>
    {{ end }}
</figure>
