@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&family=Open+Sans:wght@400;600;700&display=swap');


body {
  font-family: 'Merriweather', serif;
  line-height: 1.7;
  font-size: 1.7rem;
  margin: 0;
  padding: 0;
}

body.colorscheme-dark {
  background: rgba(0, 0, 0, 0.4);
}

.container {
    flex-direction: column;
}

.page{
  margin-top: 0;
  padding-top: 0;
}

.content article header { margin-top: 0rem; }

hr { color: #bbbbbb; }

h1 { font-size: 2.0em; }
h2 { font-size: 1.75em; }
h3 { font-size: 1.5em; }
h4 { font-size: 1.25em; }
h5 { font-size: 1.0em; }
h6 { font-size: 0.875em; }
.content article header h1 { font-size: 2em; }
h1, h2, h3, h4, h5, h6 {
  margin: 2.5rem 0 1rem 0;
}
h1 {
  margin-top: 0;
}

h1 {
  border-bottom: 8px solid #3071a5;
  display: inline-block;
}

h2 {
  border-bottom: 1px solid #3071a5;
}

.header,
.footer {
  background: #333;
  color: #fff;
  padding: 20px 0;
}

.header h1,
.footer h1 {
  text-align: center;
  margin: 0;
}

.blog-posts {
  display: flex;
  flex-direction: column;
}

.post-item {
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.post-item img {
  width: 100%; /* Image will stretch to cover the container width */
  object-fit: cover; /* This will cover the area and crop the image proportionally */
  border-radius: 5px; /* Rounded corners, if desired */
}

.sidebar {
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.sidebar h3 {
  margin-top: 0;
}

.sidebar ul {
  list-style: none;
  padding-left: 0;
}

.sidebar ul li {
  text-indent: -5px;
}

.sidebar ul li:before {
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

.post-title {
  margin: 0;
  padding: 0;
}

img,
video {
  max-width: 100%;
  height: auto;
}

@media screen and (max-width: 768px) {
}

p {
  margin-bottom: 1em;
}

.post-meta,
.date {
  font-size: 0.9em;
  font-family: 'Open Sans', sans-serif;
  color: #999;
}

.post-summary {
  font-weight: 300;
  line-height: 1.8;
}

/* highlighted pre code */
code {
  font-family: 'JetBrains Mono', monospace;
  border-radius: 3px;
  font-size: 1.4rem;
  line-height: 1.3em;
}
div.highlight { 
    max-width: 100%; 
    margin: 0em 1.0em;
}
div.highlight pre {
  white-space: pre-wrap;
  word-break: break-word;
}

/* tables on markdown */
section.container table {
  border-collapse: collapse;
  margin-bottom: 1.5em;
  width: auto;
}

section.container th, td {
  padding: 8px 14px !important;
  border: none !important;
  text-align: left;
}

section.container thead { background-color: #2c3e50; }
section.container tbody { background-color: #34495e; }
section.container table, th, td { border: 1px solid #7f8c8d; }
section.container th:last-child, td:last-child { border-right: none; }

/* Images */
.image-container {
    margin: 1.5em 0;
    text-align: center;
    position: relative;
    display: inline-block;
}

.image-container img {
    max-width: 95%;
    height: auto;
    border: 5px solid #33425b;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    margin: 10px 5px;
}
.image-container figcaption {
    display: block;
    margin: -0.6em 0 0.8em 0;
    font-size: 1.0em;
    color: #a2b2cd;
    font-weight: bold;
}

/* video google */
.google-video {
    margin: 1.5em 0;
    text-align: center;
    display: inline-block;
    position: relative;
    width: 100%;
}

/* table list files */
.shortlist-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.table-container {
  padding: 0 15px 15px;
}

.styled-table {
  border-collapse: collapse;
  margin: 0 15px 15px;
  width: auto;
  min-width: 250px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #171a23;
}

.styled-table th,
.styled-table td {
  padding: 8px 14px !important;
  border: none !important;
  text-align: left;
}

.styled-table thead {
  background-color: #000;
  color: #74acc1;
}

.styled-table thead th {
  font-weight: bold;
}

.styled-table tbody tr {
  border-bottom: 1px solid #555;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #2f3547;
}

.styled-table tbody tr:last-of-type {
  border-bottom: none;
}

.styled-table caption {
  padding: 10px;
  font-weight: bold;
  font-size: 1.1em;
}


@media (min-width: 768px) {
  .container {
    width: 100%;
  }

  .sidebar {
    margin-top: 20px;
  }
  .blog-container {
    display: flex;
    justify-content: space-between;
  }

  .blog-posts {
    flex: 3;
  }

  .sidebar {
    flex: 1;
    margin-left: 50px;
  }

  .post-item {
    display: flex;
  }

  .post-thumbnail {
    max-width: 45%;
    margin-right: 20px;
  }

  .post-details {
    flex: 1;
  }
}

/** Audio */
audio {
    width: 100%; /* Audio player will take the full width of its container */
    max-width: 1200px; /* Maximum width, adjust as needed */
    height: auto; /* Maintain the aspect ratio */
    display: block; /* Block display to fill the width of the container */
    margin: 30px auto; /* Top and bottom margin for spacing, auto for horizontal centering */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth (optional) */
    border-radius: 10px; /* Rounded corners (optional) */
}
