<section class="container page">
  <div class="blog-container">
    <div class="blog-posts">
      {{ $pages := .Site.RegularPages.ByDate.Reverse }}
      {{ $firstPost := index $pages 0 }}
      {{ if $firstPost }}
      <article class="featured-post">
        <a href="{{ $firstPost.Permalink }}">
          <img class="featured-thumbnail" src="{{ with $firstPost.Params.thumbnail }}{{ . }}{{ else }}/i/default-thumbnail.png{{ end }}" alt="{{ $firstPost.Title }}">
        </a>
        <div class="featured-details">
          <h1 class="featured-title"><a class="title-link" href="{{ $firstPost.Permalink }}">{{ $firstPost.Title }}</a></h1>
          <div class="featured-meta">
            <span class="date">
              <i class="fa fa-calendar" aria-hidden="true"></i>
              <time datetime="{{ $firstPost.Date.Format "2006-01-02T15:04:05Z07:00" }}">
                {{ $firstPost.Date | time.Format (.Site.Params.dateFormat | default "January 2, 2006") }}
              </time>
            </span>
            {{ with $firstPost.GetTerms "categories" }}{{ partial "taxonomy/categories.html" . }}{{ end }}
          </div>
          <p class="featured-summary">{{ $firstPost.Summary | plainify | truncate 300 }}</p>
        </div>
      </article>
      {{ end }}
      
      <div class="compact-posts">
        {{ range after 1 (first 10 $pages) }}
        <article class="compact-post-item">
          <a href="{{ .Permalink }}">
            <img class="compact-thumbnail" src="{{ with .Params.thumbnail }}{{ . }}{{ else }}/i/default-thumbnail.png{{ end }}" alt="{{ .Title }}">
          </a>
          <div class="compact-details">
            <h2 class="compact-title"><a class="title-link" href="{{ .Permalink }}">{{ .Title }}</a></h2>
            <div class="compact-meta">
              <span class="date">
                <i class="fa fa-calendar" aria-hidden="true"></i>
                {{ .Date | time.Format (.Site.Params.dateFormat | default "Jan 2, 2006") }}
              </span>
            </div>
          </div>
        </article>
        {{ end }}
      </div>
    </div>
    <div class="sidebar">
      <h4>Categorías</h4>
      <ul>
        {{ range .Site.Taxonomies.categories }}
        <li><a href="{{ .Page.Permalink }}">{{ .Page.Title }}</a></li>
        {{ end }}
      </ul>
      <h4>Etiquetas</h4>
      <ul>
        {{ range .Site.Taxonomies.tags }}
        <li><a href="{{ .Page.Permalink }}">{{ .Page.Title }}</a></li>
        {{ end }}
      </ul>
    </div>
  </div>
</section>
